*,*::before,*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
}

.container {
    width: 90vh;
    display: flex;
}

.panel {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 center;
    height: 80vh;
    border-radius:30px;
    position: relative;
    flex: 0.5;
    box-shadow: 2px 4px 12px -3px rgba(0,0,0,0.76);
    cursor: pointer;
    transition: flex 0.7s ease-in-out;
}

.panel > h3 {
    position: absolute;
    color: rgba(255, 255, 255, 0.924);
    font-family: 'Open Sans', sans-serif;
    bottom: 20px;
    left: 30px;
    opacity: 0;
    transition: opacity 0.4s ease-in .2s;
}

.panel.active {
    flex: 3.5;
}


.panel.active > h3 {
    opacity: 1;
}

@media(max-width: 560px) {
    body {
        overflow-x: hidden;
    }
    .container {
        width: 95%;
    }

    .panel:last-child {
        display: none;
    }

    .panel{flex: 0.5};

    .panel.active {
        flex: 1.5;
    }
}